# Node Specific Files
/node_modules
/npm-debug.log
.npmrc

dist
docs
test/test-pages/sdk-sample.js
test/test-pages/**/common/
test/test-pages/*/sdk-sample.js*
test/test-pages/*/index.html
!test/test-pages/auto-call-test/index.html
!test/test-pages/common/


.ignore

## vscode specific files
/.vscode

## webstorm specific files
/.idea

# tap specific files
/.nyc_output
/coverage

/.npmrc
