---
language: node_js
node_js:
  - "8.11.3"

sudo: false

cache:
  directories:
    - node_modules

matrix:
  fast_finish: true

before_install: if [[ `npm -v` != 6* ]]; then npm i -g npm@6; fi

install:
  - npm install

script:
  - npm test
