body {
  font-family: 'arial';
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.control-link {
  text-decoration: none;
}

.app-header {
  margin-bottom: 15px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
}

.acd-screen-share {
  padding: 10px 0;
}

.auth-text {
  color: green;
  visibility: hidden;
  margin: 10px 0;
}

.init-text {
  display: none;
  margin: 10px 0;
}

.app-content {
  padding: 10px;
}

.hidden {
  visibility: hidden;
}

.clickable {
  cursor: pointer;
}

.app-content .top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.app-controls {
  display: none;
}

#video-controls {
  display: flex;
}

.log-output {
  min-width: 600px;
  max-width: 600px;
}

.log-data {
  font-family: monospace;
  font-size: 14px;
  min-width: 600px;
  min-height: 400px;
  white-space: pre;
}

.control-section {
  margin-left: 35px;
  margin-bottom: 25px;
}

.control-title {
  font-weight: bold;
}

.log-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  margin: 24px;
}

video {
  max-height: 600px;
  width: auto;
}

.fs-med {
  font-size: medium;
}

.start-controls {
  margin-top: 20px;
}
