.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #B8B8B8
}

.waiting-for-others {
  color: #1b2c48;
  background-color: #f3f3f3;
}

.border {
  border-radius: 4px;
}

.active-border {
  border: 10px solid rgb(121 222 176);
}

.inactive-border {
  border: 10px solid transparent;
}

.video-element-container {
  position: relative;
  height: 450px;
  width: 600px;
  overflow: hidden;
  background-color: #f2f2f2;
}
