.video-container {
  align-items: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem 0;
}

video {
  width: 100%;
  height: 100%;
}

.video-call-card {
  display: flex;
  flex-direction: column;
}

.video-container .active-video-table-container {
  flex: 0 0 100%;
  max-height: 400px;
  overflow: auto;
  max-width: fit-content  ;
}

.video-container .active-video-table-container .active-conversations-card {
  max-width: 100%;
  overflow: auto;
}

.video-container > .card-content > h3 {
  margin-top: 0;
}

.video-call-card > .card-content > div {

}

.video-call-card > .card-content > div > form {
  margin: 0.3rem 0 1rem 0;
  padding: 0;
  width: 100%;
}

.video-call-card > .card-content > div > form > input {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.video-call-card > .card-content {
  justify-content: start;
}
