.buttons-and-video-container {
  margin-bottom: 20px;
}

.video-container-container {
  display: flex;
  text-align: center;
  gap: 20px;
}

.video-container {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.video-container > * {
  flex: 0 0 auto;
  margin: 0.5rem;
}

.place-conference {
  display: inline-flex;
  gap: 10px;
}

.conference-input {
  margin-right: 10px;
}

video {
  width: 100%;
  height: 100%;
}

.video-call-card {
  display: flex;
  flex-direction: column;
}

