.softphone-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.softphone-container > * {
  flex: 0 0 auto;
  margin: 0.5rem;
}

.softphone-call-card {
  display: flex;
  flex-direction: column;
}
.softphone-call-btn, .softphone-queue-toggle {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

